PORT=3004
MONGO_URI=mongodb://localhost:27017/bookfair
JWT_SECRET=your-secret-key-change-this-in-production
RESERVATION_SERVICE_URL=http://localhost:3003
NODE_ENV=development

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=nithilsheshan@gmail.com
SMTP_PASS=ynwfyuktfjjxvjzb

# Email "From" information
SMTP_FROM_NAME=Bookfair Management System
SMTP_FROM_EMAIL=bookifair-reservation-system@gmail.com

# QR Code Configuration
QR_SECRET_KEY=your-qr-secret-key-change-this-in-production
QR_CODE_SIZE=300
